# Editor configuration for contribution to [gitgraph.js](https://github.com/nicoespeon/gitgraph.js)
#
# More explanation on how to use it on [EditorConfig](http://editorconfig.org/#overview)

# top-most EditorConfig file
root = true

# UTF-8 charset

# Unix-style newlines with a newline ending every file, trailing whitespaces
# and UTF-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset= utf-8

# 2 space indentation for JS files
[*.js]
indent_style = space
indent_size = 2
