body {
  margin: 0;
  padding: 0;
  min-width: 1100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../img/pixel_weave.png");
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

pre.prettyprint {
  padding: 2px 10px !important;
  border-color: #d8d8d8 !important;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 10px 0px 30px #b4b4b4;
}

section {
  width: 1000px;
  margin: auto;
  margin-top: 260px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 10px 10px 30px #b4b4b4;
  margin-bottom: 50px;
}

nav {
  width: 550px;
  top: 0px;
  left: 0px;
  margin: auto;
  margin-bottom: 20px;
  font-family: verdana;
}

nav a:after {
  content: " -";
}

nav a:last-child:after {
  content: "";
}

@media screen and (max-width: 600px) {
  nav {
    width: auto;
    margin: 0;
  }

  nav a {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-bottom: solid #ccc 1px;
  }

  nav a:hover {
    background-color: #f5f5f5;
  }
  nav a:first-child {
    border-top: solid #ccc 1px;
  }

  nav a:after {
    content: "";
  }

  section {
    margin-top: 440px;
  }
}
