.gitgraph-tooltip {
  position: absolute;
  width: 400px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #333;
  background: #EEE;
  border-radius: 5px;
}
.gitgraph-tooltip:after {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #EEEEEE transparent transparent;
  top: 10px;
  left: -20px;
}